<h1>Tienda Online</h1>

<div class="boton">
  <button (click)="mostrarLista()" *ngIf="!mostrar" mat-raised-button color="primary">Mostrar</button>
  <button (click)="ocultarLista()" *ngIf="mostrar" mat-raised-button color="primary">Ocultar</button>
</div>


<mat-list *ngIf="mostrar" class="lista">
  <mat-list-item *ngFor="let producto of productos" class="item">
    <mat-icon matListIcon>medication_liquid</mat-icon> 
    <h4 matListItemTitle>{{producto.nombre}}</h4>
    <p matListItemLine> ${{producto.costo}} </p>
  </mat-list-item>
</mat-list>